
GD32W515P_EVAL_Demo_Suites/Projects/04_USART_Printf/MDK-ARM/RTE/

GD32W515P_EVAL_Demo_Suites/Projects/04_USART_Printf/MDK-ARM/Objects/

GD32W515P_EVAL_Demo_Suites/Projects/04_USART_Printf/MDK-ARM/Listings/

GD32W515P_EVAL_Demo_Suites/Projects/04_USART_Printf/MDK-ARM/

uvision/Objects/

uvision/

project/Objects/
project/Listings/
project/RTE

\.vscode/
